<div class="viewAuthenticate">
	<h2 class="textInset">Rigate</h2>
	<form id="signInForm" accept-charset="utf-8">
		<p>
			<input id="txtEmail" type="text" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"  placeholder="Email..." required/>
		</p>
		<p>
			<input id="txtPassword" type="password" placeholder="Password..." pattern="[\w\W]{6,}" required/>
		</p>
		<p>
			<input type="button" id="btnSignIn" class="csButton" value="Authenticate"/>
		</p>
	</form>
</div>