<h1>Hello, World!</h1>
<p>View rendered at {{ timestamp }}</p>
<div id="button-test">
	<p>Press the button below to test out click energizing on a mobile device.</p>
	<button id="button-target" type="button">Press Me!</button>
	<div id="button-results"></div>
</div>